<div class="container">
    <div class="row">
        <section class="topick">
            <h3>
                ようこそ、ながのCAKEへ！<br/>
                このサイトは、ケーキ販売のECサイトになります。<br/>
                会員でない⽅も商品の閲覧はできますが、<br/>
                購⼊には会員登録が必要になります。
                
            </h3
        </section>
    </div>
    
    <div class="row">
        <section class>
            <h1>新着情報</h1>
        </section>
    </div>
</div>