<div class-"container">
    <div class="row">
        <h1>商品一覧</h1>
    </div> 
    <div class="row">
        <%= form_with @model :items, local: do %>
        <% end %>
        <%= 商品 ８個 %>
    </div>
</div>